<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div class="list-group select" th:fragment="select">
            <div class="logo">
                <h1>iNote</h1>
            </div>
            <a th:href="@{/homepage}" class="list-group-item list-group-item-action list-group-item-warning">Home</a>
            <a th:href="@{/newQuestion}" class="list-group-item list-group-item-action list-group-item-warning">Add new question</a>
            <a th:href="@{/questions}" class="list-group-item list-group-item-action list-group-item-warning">All questions</a>
            <a th:href="@{/tag/tags/}" class="list-group-item list-group-item-action list-group-item-warning">Tags</a>
            <a th:href="@{/stack/stacks/}" class="list-group-item list-group-item-action list-group-item-warning">Stacks</a>
            <a th:href="@{/recycleBin/trashes/}" class="list-group-item list-group-item-action list-group-item-warning">Recycle Bin</a>
        </div>
    </body>
</html>af