<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>QUIZ</title>
</head>
<body>
<h1>List</h1>
<div>
    <table>
        <tr>
            <td>ID</td>
            <td>QUESTION</td>
            <td>ANSWER A</td>
            <td>ANSWER B</td>
            <td>ANSWER C</td>
            <td>ANSWER D</td>
            <td>CORRECT ANSWER</td>
        </tr>
        <th:block th:each="quiz : ${quizzes}">
            <tr>
                <td th:text="${quiz.id}"></td>
                <td th:text="${quiz.question}"></td>
                <td th:text="${quiz.answerA}"></td>
                <td th:text="${quiz.answerB}"></td>
                <td th:text="${quiz.answerC}"></td>
                <td th:text="${quiz.answerD}"></td>
                <td th:text="${quiz.correctAnswer}"></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>